body {
    background-color: aquamarine;
    background-image: url(img/580a0aea68974157e73aa3bc.jpg );
}

h1 {
    color: blue;
}

p {
    color: purple;
}

h2 {
    color: darkblue;
}

a {
    color: rgb(21, 21, 60);
}